<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="wishBean" class="com.spring.beans.inheritance.WishBean"
		init-method="init" destroy-method="destroy">
		<property name="wish_Message"
			value="Istream Solutions" />
		<property name="name" value="Srinivas" />
	</bean>
	<bean id="helloBean" class="com.spring.beans.inheritance.HelloBean"
		parent="wishBean">
		<property name="wish_Message" value="Hello " />
	</bean>
	<bean id="welcomeBean" class="com.spring.beans.inheritance.WelcomeBean"
		parent="wishBean">
		<property name="wish_Message" value="Welcome " />
	</bean>
</beans>